@import './mixins';

.header {
  @include flex (column, center, center);

  background-color: $primaryColor;
  padding-bottom: 1rem;

  &-image {
    width: 100%;
  }

  &-text {
    @include text(110%, 400);

    width: 100%;
    color: $textColor;
    padding: 1rem;
    text-align: center;
  }

  &-filter {
    width: 50%;
    text-align: center;
    border-radius: 5px;
    padding: 0.1rem 0;
    cursor: pointer;

    &__series:hover {
      cursor: pointer;
      background-color: $primaryColor;
      color: $textColor;
    }
  }

  &-amiibocontainer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
